@media screen and (min-width:320px) {
  .source-wrap {
    margin: 33px 1.5px 0 1.5px;
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .source__list {
    height: 599px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .source__item {
    width: 209px;
    height: 294px;
    background: var(--third-color);
  }

  .source__list li:nth-of-type(2) {
    align-self: flex-end;
  }

  .text--source {
    font-size: 12px;
    line-height: 16px;
    -webkit-line-clamp: 5;
  }

  .source__item p {
    padding: 10px 25px 0px 20px;
  }

  .source-item__link {
    display: inline-block;
    margin: 1px 0 0 20px;
    font-family: 'Raleway ExtraBold';
    font-size: 12px;
    line-height: 14px;
    color: var(--secondary-color);
  }

  .source-item__link:hover {
    color: var(--primary-color);
  }

  .source__content {
    align-self: center;
    width: 232px;
    height: 206px;

  }

  .section-title--source {
    font-size: 28px;
    line-height: 31px;
    -webkit-line-clamp: 3;
  }

  .source__content p {
    padding: 17px 28px 0 0;
  }
}


@media screen and (min-width: 768px) {
  .source-wrap {
    margin: 99px 0.5px 0 0.5px;
    height: 348px;
    flex-direction: row;
  }

  .source__list {
    height: 100%;
    width: 449px;
    flex-direction: row;
    justify-content: space-between;
  }

  .source__content {
    align-self: flex-start;
    margin-top: 90px;
  }
}


@media screen and (min-width: 1440px) {
  .source-wrap {
    margin: 98px 0 0 0;
    height: 533px;
  }

  .source__list {
    width: 687px;
  }

  .source__item {
    width: 320px;
    height: 449px;
  }

  .text--source {
    font-size: 16px;
    line-height: 26px;
  }

  .source__item p {
    padding: 24px 39px 0px 30px;
  }

  .source-item__link {
    margin: 22px 0 0 30px;
    font-size: 16px;
    line-height: 19px;
  }

  .source__content {
    width: 365px;
    height: 324px;
    margin-top: 138px;
  }

  .section-title--source {
    font-size: 44px;
    line-height: 48px;
  }

  .source__content p {
    padding: 24px 42px 0 0;
    font-size: 19px;
  }
}