/* A universal selector */
* {
  color: hotpink;
}
/* Class selector */
.my-class {
  color: red;
}
/* ID selector */
#rad {
  border: 1px solid blue;
}
/* Type selector */
span {
  background-color: skyblue;
}
/* Attribute selector */
[data-type='primary'] {
  color: black;
}
/* A href that contains "example.com" */
[href*='example.com'] {
  color: red;
}
/* A href that starts with https */
[href^='https'] {
  color: green;
}
/* A href that ends with .com */
[href$='.com'] {
  color: rgb(255, 60, 0);
}
/* Grouping selectors */
strong,
em,
.my-class,
[lang] {
  color: red;
}