* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-family: 'Raleway Black';
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.btn--primary {
  color: var(--third-color);
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

.btn:hover {
  border: 3px solid var(--primary-color);
  background-color: var(--third-color);
  color: var(--primary-color);
}

.btn--secondary {
  color: var(--secondary-color);
  background-color: var(--third-color);
}

.section-title {
  font-family: 'PlayfairDisplay Black';
  color: var(--primary-color);
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  font-family: 'Raleway Medium';
  color: var(--primary-color);
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .body {
    background: var(--third-color) url(../assets/images/bgr-stuff-mobile.png) no-repeat;
    background-size: 100% 1625px;
    background-position: 0 350px;
  }

  .container {
    max-width: 304px;
  }

  .header-container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 13px;
  }
}

@media screen and (min-width: 768px) {
  .body {
    background: var(--third-color) url(../assets/images/bgr-stuff-tablet.png) no-repeat;
    background-size: 100% 1705px;
    background-position: 0 86px;
  }

  .container {
    max-width: 711px;
  }

  .header-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .body {
    background: var(--third-color) url(../assets/images/bgr-stuff-desktop.png) no-repeat;
    background-size: 100% 2648px;
    background-position: 0 96px;
  }

  .container {
    max-width: 1098px;
  }

  .header-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
  }
}