@font-face{
  font-family: "Raleway Black";
  src: url('../assets/fonts/raleway/Raleway/static/Raleway-Black.ttf');
  /* font-weight: 900; */
}

@font-face{
  font-family: "Raleway ExtraBold";
  src: url('../assets/fonts/raleway/Raleway/static/Raleway-ExtraBold.ttf');
  /* font-weight: 800; */
}

@font-face {
  font-family: "PlayfairDisplay Black";
  src: url('../assets/fonts/playfair-display/Playfair_Display/static/PlayfairDisplay-Black.ttf');
  /* font-weight: 900; */
}

@font-face {
  font-family: "Raleway Medium";
  src: url('../assets/fonts/raleway/Raleway/static/Raleway-Medium.ttf');
  /* font-weight: 500; */
}

@font-face {
  font-family: "Raleway-Bold";
  src: url('../assets/fonts/raleway/Raleway/static/Raleway-Bold.ttf');
  /* font-weight: 700; */
}