.section-benefits {
  margin-top: -237px;
  height: 655px;
}

.benefits-wrap {
  height: 655px;
  margin: 0px 9px;
  padding: 93px 63px 112px 99px;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}

.benefit__list {
  height: 288px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  column-gap: 74px;
}

.benefit__item {
  position: relative;
  list-style-type: none;
  width: 33.33%;
}

.benefit__icon {
  position: absolute;
  left: 0%;
  right: 79.18%;
  top: 0%;
  bottom: 77.08%;
}

.benefit__item-title {
  position: absolute;
  height: 24px;
  left: 0%;
  top: calc(50% - 24px/2 - 29px);
  font-weight: 500;
  font-size: 18px;
}

.benefit-des {
  position: absolute;
  height: 72px;
  left: 0%;
  right: 0%;
  top: calc(50% - 72px/2 + 45px);
}

.benefit-learn-more {
  position: absolute;
  left: 0%;
  top: 91.67%;
  height: 24px;
  width: 161px;
}

.a:hover {
  color: red;
}

.link-content {
  position: absolute;
  height: 24px;
  left: 0%;
  top: calc(50% - 24px/2);
  text-transform: uppercase;
  text-decoration: none;
  color: #006DFE;
}

.link-icon {
  position: absolute;
  right: 0%;
  top: 33.33%;
}
