* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   max-width: 1440px;
   margin: 0 auto;
}

.container {
   max-width: 1326px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

img {
   max-width: 100%;
   display: block;
}

:root {
   --primary-color: #102746;
   --secondary-color: #FFFFFF;
   --third-color: #1B7DFF;
   --fourth-color: red;
}
