* {
   font-family: 'Lato';
   max-width: 1440px;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 0 auto;
}

:root {
   --primary-color: #102746;
   --secondary-color:#FFFFFF;
   --third-color: #1B7DFF;
   --fourth-color: red;
}

.container {
   max-width: 1262px;
   margin-left: 106px;
   margin-right: ;
 }