.page-footer {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  height: 370px;
  top: 5366px;
  background: #0E1D28;
  color: var(--secondary-color);
}

.footer-wrap {
  padding: 118px 7.330% 118px 9.414%;
}

.footer__brand {
  display: inline-block;
  height: 64px;
  width: 170px;
}

