.inspired-section {
  position: absolute;
  top: 1525px;
  max-width: 1440px;
  width: 100%;
  height: 735px;
}

.inspired-header {
  height: 42px;
  padding-left: 18px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.inspired__title {
  position: relative;
  width: 457px;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: var(--primary-color);
}

.inspired__title::before {
  position: absolute;
  left: 0.5px;
  top: 50.5px;
  content: "";
  border-top: 2px solid #006DFE;
  width: 55.2%;
}


.inspired-view-all {
  position: relative;
  height: 24px;
  width: 132px;     
  margin-top: 14px;  
  text-decoration: none;
  text-transform: uppercase;
  color: #006DFE;
}

.inspired__list {
  padding: 46px 17px 0px 18px;
  display: grid;
  grid-template-columns: 415px 194px 211px 414px;
  grid-template-rows: 354px 283px;
  grid-gap: 10px;
  grid-template-areas:
    "h1 h1 h2 h2 "
    "h3 h4 h4 h5";
}

.inspired__item:first-child {
  grid-area: h1;
}

.inspired__item:nth-child(2) {
  grid-area: h2;
}

.inspired__item:nth-child(3) {
  grid-area: h3;
}

.inspired__item:nth-child(4) {
  grid-area: h4;
}

.inspired__item:nth-child(5) {
  grid-area: h5;
}

.inspired__item {
  position: relative;
  list-style-type: none;
}

.inspired__img-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--secondary-color);
}

.inspired__img-title--row1 {
  position: absolute;
  left: 29px;
  top: 267px;
}

.inspired__img-title--row2 {
  position: absolute;
  left: 32px;
  top: 196px;
}