.page-header {
  display: flex;
  flex-direction: column;
  height: 962px;
  margin-top: 14px;
  background-image: url('../images/overlay.png'), url('../images/header-bgr.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--secondary-color);
}

.header-nav {
  height: 31px;
  margin-top: 42px;
}

.nav-wrap {
  padding: 0px 99px;
  display: flex;
  justify-content: space-between;
}

.header-nav__brand {
  width: 82px;
  height: 31px;
}

.header-nav__menu {
  float: right;
  padding-top: 4px;
}

.header-nav__item {
  display: inline-block;
  margin-left: 82px;
}

.header-nav__item a {
  color: inherit;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.header-nav__item a:hover {
  color: var(--fourth-color);
}

.header-content {
  height: 889px;
}

.header-content-wrap {
  padding: 0px 99px;
}

.header__title {
  height: 121px;
  max-width: 619px;
  margin-top: 176px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__desc {
  height: 72px;
  max-width: 546px;
  margin-top: 22px;
}

.search-group {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  height: 58px;
  max-width: 886px;
  margin-top: 54px;
}

.search-item {
  position: relative;
  margin-top: 5px;
  width: 297px;
  height: 47px;
}

.search-item__radio {
  position: absolute;
  left: 1px;
  top: 2px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.search-item label {
  position: absolute;
  height: 24px;
  left: 44px;
  top: 0px;
  font-weight: 500;
  font-size: 17px;
}

.search-item label::before {
  position: absolute;
  left: -43px;
  top: 2px;
  content: "";
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.search-item label::after {
  position: absolute;
  left: -39px;
  top: 6px;
  content: "";
  background: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  pointer-events: none;
}

.search-item input:checked~label:after {
  background-color: var(--third-color);
}
  
.search-item__text {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #BFC0C5;
  color: var(--third-color);
  text-align: center;
}

.search-item__text:focus {
  outline: none;
}

.btn {
  background: var(--third-color);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--fourth-color);
}

.btn--search {
  width: 171px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: inherit;
}
