.prefecture-neighborhood-section {
  position: absolute;
  width: 100%;
  height: 784px;
  top: 2391px;
  color: var(--primary-color);
}

.prefecture-box {
  height: 354px;
  padding: 0px 131px 0px 85px;
}

.prefecture-image {
  width: 579px;
  height: 100%;
}

.prefecture-content {
  display: inline-block;
  float: right;
  width: 537px;
  height: 100%;
  margin-left: 108px;
}

.prefecture__title {
  margin: 26px 162px 0px 0px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.prefecture__des {
  width: 519px;
  height: 72px;
  margin-top: 85px;
  margin-left: 0px;
}

.view-prefecture {
  display: inline-block;
  position: relative;
  margin-top: 58px;
  width: 203px;
  height: 24px;
}

.neighborhood-box {
  height: 354px;
  margin-top: 76px;
  padding: 0px 78px 0px 138px;
}

.neighborhood-image {
  width: 579px;
  height: 100%;
  float: right;
}

.neighborhood-content {
  margin: 0px;
  display: inline-block;
  float: left;
  width: 537px;
  height: 100%;
}

.neighborhood__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  width: 357px;
  margin-top: 26px;
  margin-left: 0px;
}

.neighborhood__des {
  width: 519px;
  height: 72px;
  margin-top: 45px;
  margin-left: 0px;
}

.view-neighborhood {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 239px;
  margin-top: 94px;
}
