.prefecture-neighborhood-section {
  height: 784px;
  margin-top: 131px;
  color: var(--primary-color);
}

.prefecture-neighborhood-wrap {
  margin: 0 1.5px;
}

.prefecture-box {
  margin-right: 53px;
  display: flex;
  column-gap: 108px;
}

.prefecture-neighborhood__image {
  width: 48.774%;
  height: 100%;
}

.prefecture-neighborhood-content {
  width: 42.203%;
  height: 100%;
}

.prefecture__title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.prefecture__des {
  margin-top: 85px;
  height: 72px;
  overflow: hidden;
}

.prefecture__view {
  display: inline-block;
  position: relative;
  margin-top: 58px;
  width: 203px;
  height: 24px;
}

.neighborhood-box {
  height: 354px;
  margin: 76px 0px 0px 53px;
  display: flex;
  column-gap: 108px;
}

.neighborhood__title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  width: 357px;
}

.neighborhood__des {
  margin-top: 45px;
  height: 72px;
  overflow: hidden;
}

.neighborhood__view {
  display: inline-block;
  position: relative;
  margin-top: 94px;
  width: 239px;
  height: 24px;
}
