.box {
  height: 400px;
  width: 500px;
  border: 1px solid;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.circle {
  height: 500px;
  width:  500px;
  border: 1px solid;
  border-radius: 50%;
}

.box-1 {
  height: 100px;
  width:  200px;
  border: 1px solid;
  border-radius: 10px;
}

.shadow {
  width: 20rem;
  height: 20rem;
  background-color: black;
  margin: auto;
  box-shadow: 10px 15px 10px 15px rebeccapurple;
}
